.dialog-field {

  div {
    display: flex;
    flex-direction: row;

    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-width: 5vw;
    }
  }
}

.v-card__actions {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
